.Gallery {
	list-style: none;
	background-color: #b6c0d2;
}

.Gallery ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	-ms-align-items: flex-start;
	align-items: flex-start;
}

.Gallery ul li {
	width: 275px;
	height: 180px;
	overflow: hidden;
	margin-bottom: 15px;
}
